.wrapper {
  display: block;
  width: 100%;
}

.label {
  display: block;
  text-align: center;
  margin-bottom: 0.35rem;
}

.input {
  text-align: center;
  font-weight: 800;
  border-radius: 16px;
}
